* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
/* specificity value 1+1=2 */
main > section {
  background-color: green;
}

/* specificity value 1+10=11 */
main > .american-bull-section {
  background-color: yellow;
}

/* specificity value 1+100=101 */
main > #akita-section {
  background-color: red;
}

/* specificity value 100 */
#akita-section {
  background-color: aqua;
}
/* conclusion: selector with specificity of 101 overrides selector with specificity of 100; despite of the last mentioned is later in the code */

/* specificity value 1+2=2 */
header > img {
  width: 40px;
  height: 40px;
}

/* specificity value 10 */
.header-icon {
  width: 100px !important;
  height: 100px !important;
}

/* specificity value 100+1=101 */
#header-id > img {
  width: 45px;
  height: 50px;
}

/* specificity value 100+10=110 */
#header-id > .header-icon {
  width: 60px;
  height: 70px;
}
/* conclusion: at first glance last option with specificity of 110 should override every other, but !important rule(second option) overrides all(except inline styling)  */

/* specificity 100 with rule !important will override second option */
#main-container {
  background-color: black !important;
}
/* specificity value 1 + rule !important */
main {
  background-color: bisque !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* conclusion: only way to override rule !important is  selector with !important rule but with more specificity also*/

main > section {
  max-width: 500px;
  height: 450px;
  padding: 20px;
  border: 10px solid greenyellow;
  margin: 25px;
}
#header-id > nav > ul {
  list-style: none;
  display: flex;
  gap: 12px;
}
header {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
}
section > img {
  max-width: 400px;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer {
  padding: 20px;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
}
.parent{
    width: 400px;
    height: 200px;
    background-color: blue;
}
.child{
    width: 200px;
    height: 150px;
    background-color: tomato;
}