* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
body{
  background-color: grey;
  padding: 30px;
}
.grid-item{
    background-color: aqua;
    padding: 25px;
    text-align: center;
    border: 1px solid white;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-auto-rows: minmax(100px,auto);
}